html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100vw;
  height: 48px;
  top: 44px;

  /* padding: 4px, 24px, 4px, 12px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-1 {
  display: none;
}

.desktop-toggle {
  display: none;
}

.logo-placeholder {
  width: 100px;
  top: 4px;
  left: 12px;
  padding: 10px 12px 10px 12px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;

  /* margin-right: 10px; */
}

.toggle-button {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
}

.section-div {
  width: 375px;
  height: 604px;
  top: 92px;
  padding: 114px 24px 114px 24px;
  gap: 12px;
}

.section-background {
  background-image: url('images/header-shapes\ mobile@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.nav-toggle {
  width: 40px;
  top: 4px;
  left: 311px;
  padding: 8px;
  border-radius: 8px;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.primary-text {
  max-width: 100%;
  width: 327px;
  height: 200px;

  /* height: 150px; */
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-bottom: initial;
}

.secondary-text {
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.supporting {
  width: 117px;
  height: 24px;
  gap: 8px;
}

.supporting-text {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.social-media-icon {
  width: 170.17px;
  height: 20px;
}

.twitter {
  width: 19.99px;
  height: 19.96px;
  top: 470px;
  left: 24px;
}

.linkdein {
  width: 20px;
  height: 20px;
  top: 470px;
  left: 63px;
}

.cat-icon {
  width: 17.99px;
  height: 20px;
  top: 470px;
  left: 143px;
}

.m-icon {
  width: 20px;
  height: 16px;
  top: 472px;
  left: 103px;
}

.peace-icon {
  width: 14.17px;
  height: 20px;
  top: 470px;
  left: 180px;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr;
  height: 2788px;
  top: 718px;
  padding: 114px 24px 114px 24px;
  gap: 88px;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 552px;
  padding: 16px;
  border-radius: 16px;
  gap: 12px;
  border: 1px solid #dfe1e6;
  background:
    linear-gradient(0deg, #fff, #fff),
    linear-gradient(0deg, #dfe1e6, #dfe1e6);
}

.card img {
  width: 295px;
  height: auto;
  border-radius: 8px;
}

.canopy-primary-text {
  width: 295px;
  height: 80px;
  gap: 12px;
}

.card-block {
  width: 295px;
  height: 288px;
  gap: 12px;
}

.card-primary-text {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.canopy-text {
  width: 236px;
  height: 32px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.canopy {
  width: 55px;
  height: 32px;
  padding: 8px 0 8px 0;
}

.canopy p {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.canopy-text img {
  width: 8px;
  height: 8px;
}

.back-end-dev {
  width: 88px;
  height: 32px;
  padding: 8px 0 8px 0;
}

.back-end-dev p {
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.year-label {
  width: 29px;
  height: 32px;
  padding: 8px 0 8px 0;
}

.year-label p {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.primarytext-2 {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.tags {
  width: 214px;
  height: 24px;
  gap: 8px;
  display: flex;
  margin-top: 30px;
}

.tag-1 {
  width: 57px;
  height: 24px;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}

.tag-1 p {
  width: 33px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
}

.tag-2 {
  width: 49px;
  height: 24px;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}

.tag-2 p {
  width: 25px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
}

.tag-3 {
  width: 92px;
  height: 24px;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
  background: #ebebff;
}

.tag-3 p {
  width: 68px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
}

.action {
  width: 295px;
  height: 75px;
  padding: 12px 169px 12px 0;
}

.action-button {
  width: 126px;
  height: 48px;
  margin-top: 12px;
  border-radius: 8px;
  gap: 10px;
  color: #6070ff;
  border: 1px solid #6070ff;
}

.action-button p {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
}

.about-myself {
  width: 375px;
  height: 1062.15px;
  top: 3506px;
  padding: 114px 24px 0 24px;
  gap: 24px;
}

.about-myself-top {
  width: 327px;
  height: 346px;
  gap: 12px;
}

.about-myself-primary-text {
  width: 327px;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.about-myself-primary-text-2 {
  width: 327px;
  height: 147px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social {
  width: 200px;
  height: 80px;
  gap: 16px;
}

.social-supporting-text {
  width: 117px;
  height: 24px;
  gap: 8px;
}

.social-supporting-text p {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #7f8cff;
}

.frame {
  width: 200px;
  height: 40px;
  display: flex;
}

.frame-1 {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.frame-1-grouping {
  width: 24px;
  height: 24px;
  padding: 2px 3px 2px 3px;
}

.resume {
  width: 167px;
  height: 48px;
  margin-top: 12px;
  border-radius: 8px;
  gap: 10px;
  color: #6070ff;
  border: 1px solid #6070ff;
}

.resume p {
  width: 100%;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
}

.skills {
  width: 327px;
  height: 464.15px;
}

.frameworks {
  margin-top: 50px;
}

.frameworks-title-1 {
  width: 327px;
  height: 320.15px;
}

.frameworks-title {
  margin-top: 30px;
  width: 327px;
  height: 72px;
  display: flex;

  /* justify-content: space-between; */
  align-items: center;
}

.frameworks-title p {
  width: 237px;
  height: 24px;
  top: 24px;
  left: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #000;
}

.frameworks-icon {
  width: 40px;
  height: 40px;
  top: 16px;
  left: 261px;
  padding: 8px;
  border-radius: 8px;
}

.frameworks-icon img {
  width: 24px;
  height: 24px;
  padding: 8px 5px 8px 5px;
}

.languages-list {
  width: 327px;
  height: 248.15px;
  gap: 12px;
}

.language-1 {
  width: 303px;
  height: 66.72px;
  padding: 9px 12px 9.72px 12px;
  border-radius: 8px;
  background: #f7f7f9;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.language-1 img {
  width: 48px;
  height: 48px;
  top: 9px;
  margin-right: 12px;
  margin-left: 12px;
  border: 1px;
  border: 1px solid #fff;
}

.language-1 p {
  width: 215px;
  height: 24px;
  top: 21px;
  left: 76px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #253858;
}

.frameworks-image {
  width: 327px;
  height: 1px;
  top: 71px;
}

.form {
  display: flex;
  width: 375px;
  height: 779px;
  margin: auto;
  top: 5410px;
  background: #6070ff;
  flex-direction: column;
  justify-content: flex-start;
  border-top-left-radius: 100px;
}

.form-img {
  background-image: url('contact\ form\ shapes-mobile.svg');
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: center right;
  border-top-left-radius: 100px;
}

.p-text {
  display: flex;
  flex-direction: column;
}

.p-text h1 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  color: white;
  font-weight: 700;
  align-self: center;
  top: 68px;
}

.p-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  top: 28px;
  text-align: center;
}

/* .form {
  width: 312px;
  height: 779px;

  height: 100vh;
} */

.contact-me {
  width: 375px;
  height: 779px;
  top: 5410px;
  background: #6070ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-me-background {
  background-image: url(contact\ form\ shapes-mobile@2x.png);
  width: 265px;
  height: 709.17px;
  top: 4652px;
  left: 153px;
}

.contact-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-primary-text {
  height: 12px;
  padding-top: 86px;
  left: -213px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.contact-me-secondary-text {
  width: 327px;
  height: 137px;
  top: 4802px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
}

.name-input {
  width: 327px;
  height: 48px;
  top: 4991px;
  left: 24px;
}

.input-forms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 25px;
}

.name-input-2 {
  width: 327px;
  height: 48px;
  top: 5059px;
  left: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.name-input input {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  border-radius: 18px;
  border: none;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.name-input-2 input {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: none;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

.name-input-3 {
  width: 327px;
  height: 170px;
}

.name-input-3 textarea {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: none;
  padding-top: 20px;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #b3bac5;
}

.input-forms button {
  margin-top: 30px;
  border-radius: 8px;
  border: none;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
  width: 142px;
  background: #fff;
  padding: 5px 5px;
  padding-bottom: 5px;
}

@media (min-width: 786px) {
  nav {
    top: 44px;

    /* Desktop */
    width: 1440px;
    height: 72px;
    padding: 16px 143px 16px 143px;


    /* padding: 4px, 24px, 4px, 12px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-toggle {
    display: flex;
    flex-direction: row;
    width: 258px;
    height: 40px;
    position: absolute;
    top: 16px;
    left: 1039px;
    gap: 8px;
  }

  .top-frame-1 {
    padding: 10px 12px 10px 12px;
    gap: 10px;
  }

  .top-frame-2 {
    width: 70px;
    height: 40px;
    padding: 10px 12px 10px 12px;
    gap: 10px;
  }

  .logo-placeholder {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 16px;
    left: 143px;
    padding: 10px 12px 10px 12px;
  }

  .nav-toggle {
    display: none;
  }

  .section-div {
    width: 1440px;
    height: 846px;

    /* position: relative; */
    top: 71px;

    /* padding: 289px 260px 289px 260px; */
  }

  .section-background {
    width: 1397.4px;
    height: 721.46px;
    position: initial;
    top: 119px;
    left: 34.6px;
    border: 1px;

    /* border: 1px solid #EBEBFF; */
  }

  .section {
    width: 920px;
    height: 268px;
    position: absolute;
    top: 289px;
    left: 260px;
    gap: 12px;
  }

  .primary-text {
    width: 920px;
    height: 122px;
  }

  .primary-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
  }

  .secondary-text {
    width: 920px;
    height: 98px;
  }

  .secondary-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .social-supporting-text {
    width: 0;
    height: 24px;
    display: flex;
    gap: 8px;
  }

  .social-supporting-text p {
    margin: auto;
  }

  .social {
    width: 170.17px;
    height: 20px;
    top: 642px;
    left: 260px;
  }

  .container {
    width: 1, 440px;
    height: 2, 694px;
    top: 917px;
    gap: 142px;
  }

  .card-1 {
    width: 1156px;
    height: 496px;
    display: flex;
  }

  .card-1 img {
    width: 544px;
    height: 448px;
    top: 24px;
    left: 24px;
    border-radius: 8px;
  }

  .card-block {
    width: 544px;
    height: 445px;

    /* position: absolute; */
    top: 24px;
    left: 590px;
    padding: 24px;
    padding-left: 50px;
    gap: 24px;
  }

  .card-primary-container {
    width: 496px;
    height: 98px;
    gap: 12px;
  }

  .card-primary-text {
    width: 496px;

    /* height: 98px; */
    gap: 12px;
  }

  .card-primary-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #091e42;
  }

  .canopy-text {
    width: 297px;

    /* height: 40px; */
    gap: 12px;
  }

  .canopy {
    width: 75px;
    height: 40px;
    padding: 8px 0 8px 0;
  }

  .canopy p {
    width: 75px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .canopy-text img {
    width: 8px;
    height: 8px;
    margin-top: 20px;
  }

  .back-end-dev {
    width: 120px;
    height: 40px;
    padding: 8px 0 8px 0;
  }

  .back-end-dev p {
    width: 120px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #6b778c;
  }

  .year-label {
    width: 38px;
    height: 40px;
    padding: 8px 0 8px 0;
  }

  .year-label p {
    width: 38px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #6b778c;
  }

  .primarytext-2 {
    width: 496px;
    height: 50px;
    height: auto;
  }

  .primarytext-2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .tags {
    width: 203px;
    height: 24px;
    gap: 8px;
  }

  .tag-1 {
    width: 53px;
    height: 24px;
    padding: 4px 12px 0 12px;
    border-radius: 8px;
  }

  .tag-1 p {
    width: 29px;
    height: 16px;
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #6070ff;
  }

  .tag-2 {
    width: 45px;
    height: 24px;
    padding: 4px 12px 0 12px;
    border-radius: 8px;
  }

  .tag-2 p {
    width: 21px;
    height: 16px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .tag-3 {
    width: 89px;
    height: 24px;
    padding: 4px 12px 0 12px;
    border-radius: 8px;
  }

  .tag-3 p {
    width: 65px;
    height: 16px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .action {
    width: 496px;
    height: 153px;
    padding: 16px 370px 89px 0;
  }

  .action-button {
    width: 126px;
    height: 48px;
    top: 16px;
    padding: 12px;
    border-radius: 8px;
    gap: 10px;
    color: #6070ff;
    border: 1px solid #6070ff;
  }

  .action-button p {
    width: 102px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
  }

  .cards-counter {
    margin-left: 10px;
  }

  .tag-4 {
    width: 105px;
    height: 24px;
    padding: 4px 12px 4px 12px;
    border-radius: 8px;
    background: #ebebff;
  }

  .tag-4 p {
    width: 81px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    /* letter-spacing: 0.03em; */
    text-align: left;
    color: #6070ff;
  }

  .about-myself {
    display: flex;
  }

  .about-myself-top {
    width: 447px;
    height: 311px;
    top: 3777px;
    left: 143px;
    gap: 24px;
  }

  .about-myself-primary-text {
    width: 447px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #091e42;
  }

  .about-myself-primary-text-2 {
    width: 447px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .resume {
    width: 162px;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    gap: 10px;
    color: #6070ff;
    border: 1px solid #6070ff;
  }

  .resume p {
    margin-top: 12px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
  }

  .skills {
    width: 684px;
    height: 360px;
    top: 3753px;
    left: 614px;
  }

  .frameworks-title-1 {
    width: 684px;
    height: 216px;
  }

  .frameworks-title {
    width: 684px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .frameworks {
    width: 684px;
    height: 360px;
    top: 3753px;
    left: 614px;
    margin-top: 30px;
  }

  .languages-list {
    width: 414px;
    height: 144px;
    padding: 12px;
    gap: 12px;
    display: flex;
  }

  .language-1 {
    width: 122px;
    height: 120px;
    padding: 12px 12px 20px 12px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .language-1 img {
    width: 48px;
    height: 48px;
    top: 12px;
    left: 12px;
    border: 1px solid #fff;
  }

  .language-1 p {
    width: 98px;
    height: 24px;
    top: 76px;
    left: 12px;
  }

  .frameworks-image {
    width: 684px;
    height: 1px;
    top: 71px;
  }

  .form {
    width: 1440px;
    height: 846px;
    top: 5125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 400px;
  }

  .form-img {
    width: inherit;
    height: inherit;
  }

  .contact-me-section {
    top: 4421px;
    left: 320px;
  }

  .contact-me-primary-text {
    width: 801px;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
  }

  .contact-me-secondary-text {
    width: 569px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
  }

  .input-forms {
    width: 447px;
    height: 395px;
    gap: 27px;
  }

  .name-input input {
    width: 447px;
    height: 48px;
    border-radius: 0;
    padding-left: 16px;
  }

  .name-input-2 input {
    width: 447px;
    height: 48px;
    border-radius: 0;
    padding-left: 16px;
  }

  .name-input-3 textarea {
    width: 447px;
    height: 170px;
    border-radius: 0;
    padding-left: 16px;
  }

  .input-forms button {
    margin: auto;
    border-radius: 8px;
  }

  .card {
    display: none;
  }

  .full-stack-dev {
    font-size: 17.5px;
  }
}
